@model PortfolioManager.Models.CommodityDto

@{
    ViewData["Title"] = "Smazat komoditu";
}

<h1 class="text-danger my-3 my-md-5 text-center">Smazat záznam</h1>

<hr class="text-danger mb-3" />

<h2 class="text-danger my-3 my-md-4 text-center">Chcete opravdu smazat tento záznam?</h2>


<div class="d-flex flex-column justify-content-center align-items-center mb-2">
    <dl class="row border border-danger text-center py-3">
        <dt class = "">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.InvestedMoney)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.InvestedMoney)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger btn-delete" /> 
        <a asp-action="Index" class="btn btn-primary btn-delete">Zpět</a>
    </form>

   
</div>
