@model IEnumerable<PortfolioManager.Models.CommodityDto>

@{
	ViewData["Title"] = "Vaše Portolio";
}

<div class="container">
	<div class="row">

		@if (Model?.Count() > 0)
		{

			<div class="text-center mt-5">
				<h1 class="text-primary">Vaše portfolio</h1>
			</div>

			<hr class="my-4 my-md-5 text-primary bg-primary" />


			<table class="table">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.Name)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Amount)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.InvestedMoney)
						</th>
						<th>
							<span>Aktuální hodnota (CZK)</span>
						</th>
						<th>

						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Amount)
							</td>
							<td>
								@item.InvestedMoney.ToString("0")
							</td>
							<td>
								@ViewBag.CurrentPrices[item.Name].ToString("0")
								
							</td>
							<td>
								<a class="text-success" asp-controller="Portfolio" asp-action="Edit" asp-route-id="@item.Id">Upravit</a> |
								<a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Smazat</a>
							</td>
						</tr>
					}


				</tbody>
				<tfoot>
					<tr>
						<td class="fw-bolder">
							Celkem
						</td>
						<td>
							
						</td>
						<td class="fw-bolder">
							@Model.Sum(x=>x.InvestedMoney)
						</td>
						<td class="fw-bolder">
							@{
								int total = 0;
								foreach (var item in Model)
								{
									total +=  ViewBag.CurrentPrices[item.Name];
								}
								<span>@total</span>
							}
						</td>
						<td>

						</td>
					</tr>
				</tfoot>

			</table>
			<div class="form-group mt-4 d-flex justify-content-center">
				<a asp-action="Create" class="btn btn-primary">Přidat komoditu</a>
			</div>
		}

		else
		{
			<div class="text-center portfolio-zero d-flex flex-column justify-content-center align-items-center">
				<h1 class="text-primary">Nemáte ještě vytvořené žádné portfolio</h1>
				<h5 class="mt-4 mb-5">Neváhejte a vytvořte si ho hned teď</h5>
				@if (User.Identity.IsAuthenticated)
				{
					<a asp-action="Create" class="btn btn-primary text-decoration-none mb-5">Vytvořit vlastní portfolio</a>
				}
				else
				{
					<a asp-controller="Account" asp-action="Register" class="btn btn-primary text-decoration-none mb-5">Registrace</a>	
				}

				<img class="img-fluid" src="~/img/commodities2.png" />
			</div>
		}


	</div>
</div>
